body {
	    font-family: 'Arial', monospace;
		line-height: 1.3em;
		font-size: .8em;
		margin:0;
	}


img {
	margin: auto;
	height: auto;
	width: 15%;
	background-color: #3B5998;
	position: 50px;
	float: left;
	position: relative;
	left: 70px;
	}

ul{
	float:left;
	list-style-type: none;
}



.container2 {
	width: 100%;
	margin: 10px 20px 10px auto;
	background-position: top;
	overflow: auto;
	color: white;
	background-color: #3B5998;
	text-align: right;
}


.signinright {
	width: 20%;
	margin-top: 3%;
	display: inline-block;
	text-align:left;
}

.container {
	padding: 1em;
	padding-bottom: 10em
	width: 100%;
	margin: 10px 20px 10px auto;
	overflow: auto;
	text-align: center;
}


.container3{
	width: 100%;
	overflow: auto;
	text-align: left;
}

.container4{
	width: 100%;
	overflow: auto;
	text-align: left;
	background-color: white;
}

.box{
	padding: 1em;
	width: 80%;
	margin: 10px 20px 10px auto;
	border: 1px
	background-color: gray;
}

.footer{
	font-size: .8em;
	margin: 10px 20px 10px auto;
	margin-left: 30px;
	margin-top: 10em;
	border: 1px
	color: #3B5998;
	background-color: #F4F6F6;
	align-content: center;
}

.relativebox{
	background-color: white;
	width: 100px;
	height: 15px;
	margin-top: 5%;
}

.button2 {
	padding: 15px 25px;
  font-size: .9em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin: auto;
  outline: none;
  color: #fff;
  background-color: #3B5998;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px #999;
}

.button2:hover {background-color: #3B5998}

.button2:active {
  background-color: #3B5998;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

