@media only screen and (max-width: 715px){

body {
	    font-family: 'Roboto', sans-serif;
		line-height: 1.3em;
		font-size: 1em;
		margin:0;
	}

	span {
		font-style: italic;
	}

	img {
		float:none;
		height: auto;
		width: 100%;
	}

	.title {
		color: #00DC96;
		font-weight: bold;
	}

	.container {
		width:auto;
		margin: 10px 20px 10px auto;
		background-position: fixed;
		overflow: auto;
		padding: 1em;
	}

	.container2 {
		width: auto;
		margin: 10px 20px 10px auto;
		background-position: center top;
		overflow: auto;
		padding: 0;
	}

	.chunk {
		width: auto;
		height: 60%;
		float: none;
		padding: 1em;
		margin: 20px 30px 20px auto;
		box-sizing: border-box;
	}

	.smallest {
		font-size: .8em;
	}

	#smallestbold {
		padding: 1em;
		font-size: .8em;
		font-style: bold;
	}

	.body {
		font-size: .8em;
		padding:1em;
	}

}

@media only screen and (min-width: 715px){
body {
	    font-family: 'Roboto', sans-serif;
		line-height: 1.3em;
		font-size: 1em;
		margin:0;
	}

	p {
		margin: 0;
		padding: 0;
	}

	span {
		font-style: italic;
	}

	img {
		margin:auto;
		height: auto;
		width: 100%;
	}

	.title {
		color: #00DC96;
		font-weight: bold;
	}

	.container {
	padding: 1em;
	width:100%;
		margin: 10px 20px 10px auto;
		background-position: fixed;
		overflow: auto;
		padding: 1em;
		display: flex;
		flex:1;
	}
	.container2 {
		width: 100%;
		margin: 10px 20px 10px auto;
		background-position: fixed;
		overflow: auto;
		padding: 0;
		text-align: center;
	}

	.chunk {
		height: 60%;
		float: left;
		padding: 1em;
		margin: 20px 30px 20px auto;
		box-sizing: border-box;
	}

	.smallest {
	font-size: .8em;
	}

	#smallestbold {
		font-size: .8em;
		font-style: bold;
	}

	.body {
		font-size: .8em;
		padding:1em;
	}
}




