

body {
    font-family: 'Roboto', sans-serif;
    /*background-color: #E5F2EE;*/
/*    background-color: #FEFFED;
*/	line-height: 1.3em;
/*	padding: 1em;
*/	font-size: 1em;

}

p {
	margin: 0;
	padding: 0;
	background-color: #00DC96
    color: #FFFFFF;
}



span {
	font-style: italic;
}

/*h2 {
	margin:0
	padding:0;
}*/

img {
	float:left;
	height: auto;
	width: 100%;
/*	max-width:1600px;
	max-height:1600px;*/
}

/*img {
	height: auto;
	width: auto;
	max-width:150px;
	max-height:150px;
}*/

.title {
	color: #00DC96;
	font-weight: bold;
	/*padding: 1em;*/
}

/*#ul.a {
    list-style-type: circle;
    font-size: .8em;
}*/

.container {
padding: 1em;
width:100%;
	margin: 10px 20px 10px auto;
	background-position: fixed;
	overflow: auto;
	padding: 1em;
}
.container2 {
	width: 100%;
	margin: 10px 20px 10px auto;
	background-position: fixed;
	overflow: auto;
	padding: 0;
}

.chunk {
	width: 31%;
	height: 60%;
	float: left;
	padding: 1em;
	margin: 20px 30px 20px auto;
	box-sizing: border-box;
}

.chunk2 {
	width: 31%;
	height: 60%;
	float:left;
	padding: 1em;
	margin: 20px 30px 20px auto;
	box-sizing: border-box;
}

.chunk4 {
	width: 31%;
	height: 60%;
	float:left;
	padding: 1em;
	margin: 20px 30px 20px auto;
	box-sizing: border-box;
}
.smallest {
/*	padding: 1em;
	*/font-size: .8em;
}

}
#smallestbold {
/*	padding: 1em;
*/	font-size: .8em;
	font-style: bold;
}

.body {
/*	padding: 1em;
*/	font-size: .8em;
	padding:1em;
}


