body{
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
	text-align: left;
	margin: 1em;
	font-size: 3.5em;
	line-height: 1.3em;
}

.text{
	width: 80%;
}

.topedge{
	position: relative;
	text-align: center;
	margin-bottom: -1em;
}

.topedgewhite{
	display: inline-block;
	height: 15px;
	width: 90px;
	background-color: white;
	border: 1px;
	border-color: black;
	border-style: solid;
}

.topedgeblack{
	display: inline-block;
	height: 15px;
	width: 70px;
	border: 1px;
	border-color: black;
	border-style: solid;
	background-color: black;
}