body{
	color: #grey;
	font-size: 8em;
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
	text-align: left;
}
/*
img{
	width: 100%
}*/

.a{
	position: absolute;
	z-index: 5;
}

.a:hover{
	z-index: 50;
}

#divid{
	width: 100%
	position:relative;
}

.text{
	mix-blend-mode: multiply;
}


.footercont{
	width: 100%;
	position: relative;
	text-align: center;
	margin-bottom: -40px
}


.footer{	
	display: inline-block;
	height: 15px;
	width: 70px;
	border: 1px;
	border-color: grey;
	border-style: solid;
	list-style: none;
	margin-top: 4.3em;
}



.tint{
	width: 150px;
	height: 114px;
	opacity: .4;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	padding:1em;
}

.a:hover .tint{
	display: block;
}

#red{
	background-color: #D90000;
}

#orange{
	background-color: #D56A2A;
}

#yellow{
	background-color: #DA9F29;
}

#tan{
	background-color: #F9EAC2;
}

#mint{
	background-color: #ECFED5;
}

#green{
	background-color: #41AD49;
}


#sky{
	background-color: #D5EFFE;
}

#blue{
	background-color: #00AEEF;
}


.topedge{
	position: relative;
	text-align: center;
}

.topedgewhite{
	display: inline-block;
	height: 15px;
	width: 90px;
	background-color: white;
	border: 1px;
	border-color: black;
	border-style: solid;
}

.topedgeblack{
	display: inline-block;
	height: 15px;
	width: 70px;
	border: 1px;
	border-color: black;
	border-style: solid;
	background-color: black;
}

#smalltext{
	font-size: 1em;
	font-color: black;
}
