
/*TYPOGRAPHY*/
p {
	color: green;
}

p span{
	color: red;
}

/*LAYOUT*/
.box {
	background-color: yellow;
	border: 10px solid #ccc;
	padding: 1em;
	width: 500px;
	margin-bottom: 5em;
	box-sizing: border-box;
}

